@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";

/* Login */
.login-box{
  width: 380px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(50%,-50%);
  color: black;

}
.login-box h1{
  float: left;
  font-size: 80px;
  border-bottom: 6px solid #616561;
  margin-bottom: 50px;
  padding: 13px 0;
  font-family: 'Fira Sans', sans-serif;
}
.textbox{
  width: 100%;
  overflow: hidden;
  font-size: 30px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid #616561;
}
.textbox i{
  width: 26px;
  float: left;
  text-align: center;
}
.textbox input{
  border: none;
  outline: none;
  background: none;
  color: white;
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 10px;
}

.login-back{
  width: 49%;
  height: 99%;
  position: absolute;
  margin: auto;
  background-image: url(/src/css/banner.jpg); 
  background-size: cover;
}

.login-back::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.3); 
}

.google-plus {
  background: #e9544f; 
  &:hover {
    background: rgba(#e9544f, 0.8);
  }
}

